@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora);

/* -------- LAYOUT ---------*/
aside {
  font-family: 'Playfair Display', serif;
  font-size: 1.15em;
  font-weight: 400;
  line-height: 1.63043em;
  position:fixed;
  height:100%;
  width: 28%; 
  top:0;
  left:0;
  padding: 5% 3% 0%;
  background-image: url("http://femmebot.github.io/google-type/images/space.jpg");
  background-size: cover;
  color: white;
}

main {
  margin-left: 25%;
  padding: 0% 6% 0% 12%;
}

.social-media {
  margin: 5% 0% 5% 20%;  
}

.md-text {
  display: none;
}

.date {
  display: block;
  margin: 15px 0 12px 0;
  font-weight: bold;
}

tr:nth-child(even) {background-color: #CEEDCE}

th, td {
    padding: 15px;
}

th {
    text-align: center;
    background-color: #555533;
    color: white;
}

button {
  margin-top: 15px;
}

/* -------- TYPOGRAPHY ---------*/
#title {
  color: white !important;
  display: block;
  margin-bottom: 10%;
}

#title:hover,
#title:focus {
    -webkit-animation: bounce 1s;
    animation: bounce 1s;
    text-decoration: none;
}

.post {
  font-family: 'Lora', serif;
  display: block;
  margin: 0 0 60px 0;
  font-weight: 400;
  line-height: 1.63043em;
  color: #454646;
}

.post > h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin: 30px 0 20px;
}

.post > p{
  font-size: 1.15em;
}

/* -------- ICONS ---------*/
i {
  color: white;
  padding: 6% 6% 1%;
}

i:hover {
    -webkit-animation: flip 1s;
    animation: flip 1s;
}

/* -------- LINKS ---------*/
a {
  color: #999380;
}

.post a:hover, 
.post-snippet a:hover {
  color: #999380;
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  text-decoration: none;
}