@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

/* -------- LAYOUT ---------*/
.header {
  font-family: 'Pacifico', serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.63043em;
  position:fixed;
  height:85px;
  width: 100%; 
  padding-left: 2%;
  background-image: url("http://femmebot.github.io/google-type/images/space.jpg");
  background-size: cover;
  color: white;
  top: 0;
}

main {
  margin-top: 85px;
  padding: 2% 12.5% 2% 12%;
}

.social-media {
  margin: 5% 0% 5% 20%;  
}

.md-text {
    display: none;
}

.md-text p:first-of-type {
    display: true;
}

.tag{
  display: flex;
  margin: 1em 0 1.8em;
  justify-content: center;
}

.label-tag {
  background-color: #440633;
}

.label{
  margin-right: 5px;
}

/* -------- TYPOGRAPHY ---------*/
#title {
  color: white !important;
  display: block;
  font-size: 1em !important;
}

#title:hover,
#title:focus {
  text-decoration: none;
}

h2, h3, h4, h5 {
  font-family: 'Abril Fatface', serif;
}

h2 {
  font-size: 2em;
}

.date {
  display: block;
  margin: 12px;
  font-family: 'Lora', serif;
  font-weight: bold;
}

#read-more{
  color: #440633;
  font-weight: bold;
  margin-left: 10px;
}

.post {
  font-family: 'Lora', serif;
  display: block;
  margin: 2em 0 5em 0;
  font-size: 1.4em;
  line-height: 1.63043em;
  color: #454646;
  text-align: justify;
}

/* -------- ICONS ---------*/
i {
  color: white;
  padding: 6% 6% 1%;
}

i:hover {
    -webkit-animation: flip 1s;
    animation: flip 1s;
}

/* -------- LINKS ---------*/
a {
  color: #999380;
}

.post a:hover, 
.post-snippet a:hover {
  color: #999380;
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  text-decoration: none;
}