<aside>
  <section class="sidebar-content">
    <h1 class="text-center"><a href="https://www.facebook.com/dulshani.gunawardhana" id="title">Dulshani Gunawardhana</a></h1>
    <div class="social-media">
      <a href="https://www.facebook.com/dulshani.gunawardhana" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
      <a href="https://lk.linkedin.com/in/dulshanig" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
      <a href="https://github.com/dshgna" target="_blank"><i class="fa fa-github-alt fa-2x"></i></a>
    </div>
  </section>
</aside>
